{% extends "base.html" %}

{% block content %}
<h2>Sell a Book</h2>
<form method="post">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" required><br><br>
    <label for="author">Author:</label><br>
    <input type="text" id="author" name="author" required><br><br>
    <label for="price">Price ($):</label><br>
    <input type="number" id="price" name="price" step="0.01" min="0" required><br><br>
    <input type="submit" value="List Book">
</form>
{% endblock %}